<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-autowire="no">

	<bean id="user" class="com.pojo.Users" scope="singleton"></bean>
<!-- 	<bean id="user" class="com.pojo.Users" scope="prototype"></bean> -->

	<bean id="teacher1" class="com.pojo.Teacher"></bean>
	<bean id="teacher2" class="com.pojo.Teacher"></bean>
	<bean id="teacher3" class="com.pojo.Teacher" scope="prototype"></bean>
	<bean id="teacher4" class="com.pojo.Teacher" scope="singleton"></bean>
</beans>